* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: arial,sans-serif;
    background-color: #202124;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* width: 95%; */
    /* margin: 0 auto; */
    margin-top: 20px;
    /* color: #e8eaed; */
}

/* This is the nav styling */

.Navbar {
    width: 95%;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-content > img {
    width: 92px;
    height: 30px;
}

.nav-content > div > input[type=text]{
    width: 537px;
    height: 25px;
    background-color: #303134;
    border: 1px solid transparent
       
    
}

.nav-content > div > input[type=text]:focus {
    outline: none;
}

.input-icons {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
    border: 1px solid #202124;
    background-color: #303134;
    width: 650px;
    padding: 22px 25px 22px 25px;
    border-radius: 24px;
    margin-left: -320px;
    height: 25px;
    
    
}

.input-icons > i {
    margin-left: 5px;
    color: #868b91;
    font-size: 22px;
}

.image-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 5px;
    border-left: 1px solid #5f6368;
    padding-left: 10px;
}

.image-icons > i {
    color: #8ab4f8;
    font-size: 18px;
}

.right-nav > i {
    margin-right: 20px;
    color: #e2e2e3;
    font-size: 20px;
}

/* This is the second nav styling section */

.second-container {
    width: 80%;
    margin-left: 13%;
    /* padding-top: 25px; */
    margin-top: 25px;
    /* border: 1px solid white; */
}

.second-nav {
    color: #8f949a;
}

.second-nav-contents {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 14px;
}

.icon-text {
    display: flex;
    flex-direction: row;
}

.icon-text > p {
    padding-left: 5px;
}

.main-container > hr {
    border: #3c4043 solid 1px; 
    margin-top: 10px;
    
}

.tools-text {
    padding-left: 120px
}

.image-txt {
    border-bottom: solid 3px #8ab4f8;
    padding-bottom: 15px ;
}

.about-txt {
    padding: 15px 0 20px 0;
    font-size: 14px;
}

/* This is the styling for the third nav */

.third-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.third-nav > div > h1 {
    font-size: 28px;
    color: #e8eaed;
    padding-bottom: 10px;
}

.third-nav > div > button {
    padding: 12px 20px;
    background-color: #46474c;
    border: 1px solid #202124;
    border-radius: 20px;
    cursor: pointer;
}

.third-nav > div > button:hover {
    background-color: grey;
}

.third-nav > div > button > a {
    text-decoration: none;
    color: #e8eaed;
}

.baller-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.third-nav .overview-btn {
    /* padding: 11px 19px; */
    border: 1px solid white;
}

/* This is the styling for the main section */

.main-section {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    margin-left: 13%;
    /* align-items: center; */
    padding-top: 30px;
    /* justify-content: space-around; */
}
/* This is the styling for section A */

.section-A {
    width: 60%;
    
    
    
}

.section-A > h3 {
    color: #bdc1c6;
    font-size: 18px;
    padding-bottom: 2px;
}

.section-A > h3 > a {
   color: #8ab4f8;
   text-decoration: none; 
}

.section-A > p> a {
    color: #8ab4f8;
    text-decoration: none; 
 }

.section-A > p {
    color: #bdc1c6;
    
}

.image-slide {
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.image-slide .img-1 {
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
}

.image-slide .img-5 {
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
}

.stories-txt > h4 {
    font-size: 22px;
    color: #e8eaed;
    font-weight: normal;
    margin-bottom: 10px;
}

.news-txt-icon > a {
   display: flex; 
   flex-direction: row;
   align-items: center;
   font-size: 18px;
   gap: 10px;
   text-decoration: none;
   color: #e8eaed;
   font-weight: 400;
}

.news-txt-icon > a > i {
    font-size: 14px;
}

/* This is the top stories styling section */

.top-stories {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 12px;
    padding-top: 10px;
    gap: 10px;
    border-top: 1px solid #3c4043;
    width: 86%;
    
    
}

.top-stories-skyv {
    border-left: 1px solid #3c4043;
    padding-left: 10px;
}

.logo-text-a .goal-logo {
    padding: 10px 0px 10px 0px;
}

.top-stories-goal > img {
    border-radius: 10px;
    
}

.goal-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo-text-a .goal-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.logo-text-a > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.logo-text-a > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
}

.top-stories-skysports {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 18px;
    border-bottom: 1px solid #3c4043;
}

.top-stories-skysports-ctn .skysports-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-skysports-ctn .skysports-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-skysports-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-skysports-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding: 10px 0px 10px 0px;
}

.top-stories-skysports > div > img {
    border-radius: 10px;
    
}

.top-stories-vanguard {
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding-top: 10px;
}

.top-stories-vanguard-ctn .vanguard-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-vanguard-ctn .vanguard-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-vanguard-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-vanguard-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 40px;
}

.top-stories-vanguard > div > img {
    border-radius: 10px;
    
}

.section-A > p {
    color: #bdc1c6;
    font-size: 15px;
    /* font-weight: 400; */
    margin: 5px 0px 10px 0px;
    
}

.section-A > h5 {
    color: #bdc1c6;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px 10px 0px;
}

/* This is the top stories 2 section */

.top-stories-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 1px solid #3c4043;
    width: 86%;
    /* margin-top: 12px; */
    padding-top: 10px;
}

.top-stories-mirror {
    display: flex;
    flex-direction: row;
    gap: 13px;
    
}

.top-stories-mirror-ctn .mirror-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-mirror-ctn .mirror-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-mirror-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}

.top-stories-mirror-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-mirror > div > img {
    border-radius: 10px;
    
}

.top-stories-DP {
    display: flex;
    flex-direction: row;
    gap: 25px;
    border-left: 1px solid #3c4043;
    padding-left: 10px;
    
}

.top-stories-DP-ctn .DP-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-DP-ctn .DP-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-DP-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-DP-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-DP > div > img {
    border-radius: 10px;
    
}

/* This is the top stories 3 section */

.top-stories-3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 1px solid #3c4043;
    border-bottom: 1px solid #3c4043;
    width: 86%;
    /* margin-top: 12px; */
    padding-top: 10px;
    padding-bottom: 30px;
}

.top-stories-DE {
    display: flex;
    flex-direction: row;
    gap: 21px;
    
}

.top-stories-DE-ctn .DE-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-DE-ctn .DE-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-DE-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-DE-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-DE > div > img {
    border-radius: 10px;
    
}

.top-stories-Marca {
    display: flex;
    flex-direction: row;
    gap: 38px;
    border-left: 1px solid #3c4043;
    padding-left: 10px;
    
}

.top-stories-Marca-ctn .Marca-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-Marca-ctn .Marca-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-Marca-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-Marca-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-Marca > div > img {
    border-radius: 10px;
    
}

.morenews-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #303134;
    font-size: 14px;
    font-weight: 400;
    color: #e8eaed;
    margin: 0 auto;
    position: relative;
    bottom: 17px;
    right: 40px;
    cursor: pointer;
}

/* This is the styling for the Wikipedia section */

.wikipedia {
    padding-bottom: 30px;
}

.wikipedia-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.wikipedia-ctn > div > img {
    border-radius: 50%;
}

.wiki-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.wiki-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.wiki-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.wikipedia > a {
    text-decoration: none;
}

.wikipedia > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.wikipedia > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.wikipedia > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.early-club {
    color: #8ab4f8;
}

.early-club > a {
    color: #8ab4f8;
    text-decoration: none;
    font-size: 14px;
}

.early-club > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

/* This is the accordion styling section */

.accordion > h3 {
    color: #e8eaed;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #3c4043;
    width: 86%;
}

.text-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3c4043;
}

.text-arrow > p {
    font-size: 16px;
    color: #bdc1c6;
    cursor: pointer;
    /* font-weight: normal; */
}

.text-arrow > i {
    color: #bdc1c6;
    cursor: pointer;
    font-size: 14px;
}

.text-arrow-down {
    padding-bottom: 20px;
}

.feedback-btn {
    width: 90px;
    height: 30px;
    background-color:#202124;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 33%;
    bottom: 20px;
    margin:0 auto;
    
}

.feedback-btn > a {
    text-decoration: none;
    color: #9aa0a6;
    font-size: 12px;
    text-align: center;
    
}

/* This is the styling for the CR7 section */

.cr7 {
    padding-bottom: 30px;
}

.cr7-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.cr7-ctn > div > img {
    border-radius: 50%;
}

.cr7-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.cr7-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.cr7-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.cr7 > a {
    text-decoration: none;
}

.cr7 > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.cr7 > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.cr7 > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

/* This is the styling for the mirror section */

.mirror-section {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mirror-sec-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.mirror-sec-ctn > div > img {
    border-radius: 50%;
}

.mirror-sec-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.mirror-sec-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.mirror-sec-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.mirror-sec > a {
    text-decoration: none;
}

.mirror-sec > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.mirror-sec > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.mirror-sec > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.net-boots {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 185px;
    padding-top: 8px;
}

.net-boots > p > span {
    color: #9aa0a6;
    font-size: 14px;
    line-height: 22px;
}

.net-boots > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 22px;
}

/* This is the CR7 Twitter feeds styling */

.cr7-twitter-feeds-boxes {
    padding-bottom: 30px;
}

.cr7-twitter-feeds-header1 > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.cr7-twitter-feeds-header1 > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.cr7-twitter-feeds-header2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cr7-twitter-feeds-header2 > a {
    text-decoration: none;
}

.cr7-twitter-feeds-header2 > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.cr7-twitter-feeds-header2> a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.cr7-twitter-feeds-box1 {
    width: 215px;
    height: 353px;
    border: 1px solid #3c4043;
    border-radius: 5px;
    margin-right: 10px;
}

.cr7-twitter-feeds-box1 > a  {
    text-decoration: none;
    /* margin: 10px 10px 10px 10px; */
    
}

.cr7-twitter-feeds-box1 > a > p {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    padding: 10px 10px;
}

.cr7-twitter-feeds-box1 > p > span {
    color: #e8eaed;
    font-size: 14px;
    line-height: 22px;
}

.cr7-twitter-feeds-box1 > p {
    color: #9aa0a6;
    font-size: 14px;
    padding-left: 10px;
}

.cr7-twitter-img > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.cr7-twitter-feeds-boxes {
    display: flex;
    flex-direction: row;
}

.cr7-twitter-feeds-box2 {
    width: 215px;
    height: 353px;
    border: 1px solid #3c4043;
    border-radius: 5px;
    margin-right: 10px;
}

.cr7-twitter-feeds-box2 > a  {
    text-decoration: none;
    /* margin: 10px 10px 10px 10px; */
    
}

.cr7-twitter-feeds-box2 > a > p {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    padding: 10px 10px;
}

.cr7-twitter-feeds-box2 > p > span {
    color: #e8eaed;
    font-size: 14px;
    line-height: 22px;
}

.cr7-twitter-feeds-box2 > p {
    color: #9aa0a6;
    font-size: 14px;
    padding-top: 146px;
    padding-left: 10px;
}

.cr7-twitter-img  {
   display: flex; 
   flex-direction: row;
   cursor: pointer;
   
}

.cr7-twitter-img1 > img {
    border-top-left-radius: 5px;
}

.cr7-twitter-img2 > img:nth-child(1) {
    border-top-right-radius: 5px;
    
}

.cr7-twitter-feeds-box3 {
    width: 215px;
    height: 353px;
    border: 1px solid #3c4043;
    border-radius: 5px;
    margin-right: 10px;
}

.cr7-twitter-feeds-box3 > a  {
    text-decoration: none;
        
}

.cr7-twitter-feeds-box3 > a > p {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    padding: 10px 10px;
}

.cr7-twitter-feeds-box3 > p > span {
    color: #e8eaed;
    font-size: 14px;
    line-height: 22px;
}

.cr7-twitter-feeds-box3 > p {
    color: #9aa0a6;
    font-size: 14px;
    padding-top: 80px;
    padding-left: 10px;
}

.cr7-twitter-feeds-box3 .cr7-twitter-img  {
   display: flex; 
   flex-direction: row;
   cursor: pointer;
   /* align-items: center; */
}

.cr7-twitter-img3 > img:nth-child(1) {
    border-top-left-radius: 5px;
}

.cr7-twitter-img4 > img:nth-child(1) {
    border-top-right-radius: 5px;
    
}

/* This is the styling for the video section */

.video-heading {
    border-bottom: 1px solid #3c4043;
    width: 86%;
}

.video-heading > a > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #e8eaed;
    gap: 10px;
    padding-bottom: 15px;
}

.video-heading > a > div > p {
    color: #e8eaed;
    font-size: 22px;
    line-height: 24px;
    
    
}

.video-heading > a > div > i {
    color: #9aa0a6;
    font-size: 14px;
    
}

.video-heading > a > div:hover p, .video-heading > a > div:hover i {
    color: #8ab4f8;
    
}

.video-heading > a {
    text-decoration: none;
}

.video-text-ctn {
    padding-top: 10px;
}

.video-and-text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3c4043;
    width: 86%;
    /* align-items: center; */
}

.video > video {
    width: 124px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.9;
}

.video-text > a {
    text-decoration: none;
    color: #8ab4f8;
    
}

.video-text > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.video-text > a > h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;

}

.video-text > h5 {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    font-style: normal;
    font-weight: normal;
}

.video-text > p {
    color: #9aa0a6;
    font-size: 14px;
}

/* Video 2 */

.video-and-text2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3c4043;
    width: 86%;
    /* align-items: center; */
}

.video2 > video {
    width: 124px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.9;
}

.video-text2 > a {
    text-decoration: none;
    color: #8ab4f8;
    
}

.video-text2 > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.video-text2 > a > h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;

}

.video-text2 > h5 {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    font-style: normal;
    font-weight: normal;
}

.video-text2 > h5 > span {
    color: #9aa0a6;
}

.video-text2 > p {
    color: #9aa0a6;
    font-size: 14px;
}

/* Video 3 */

.video-and-text3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3c4043;
    width: 86%;
    /* align-items: center; */
}

.video3 > video {
    width: 124px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.9;
}

.video-text3 > a {
    text-decoration: none;
    color: #8ab4f8;
    
}

.video-text3 > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.video-text3 > a > h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;

}

.video-text3 > h5 {
    font-size: 14px;
    line-height: 22px;
    color: #bdc1c6;
    font-style: normal;
    font-weight: normal;
}

.video-text3 > h5 > span {
    color: #9aa0a6;
}

.video-text3 > p {
    color: #9aa0a6;
    font-size: 14px;
}

.morenews-btn-video {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #303134;
    font-size: 14px;
    font-weight: 400;
    color: #e8eaed;
    margin: 0 auto;
    position: relative;
    bottom: 28px;
    right: 40px;
    cursor: pointer;
}

.morenews-btn-video:hover {
    background-color:#3c4043;
}

/* This is the styling for the Allnews section */

/* Instagram */

.instagram {
    padding-bottom: 30px;
}

.instagram-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.instagram-ctn > div > img {
    border-radius: 50%;
}

.instagram-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.instagram-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.instagram-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.instagram > a {
    text-decoration: none;
}

.instagram > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.instagram > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.instagram > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

/* Daily Mail */

.dailymail {
    padding-bottom: 30px;
}

.dailymail-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.dailymail-ctn > div > img {
    border-radius: 50%;
}

.dailymail-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.dailymail-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.dailymail-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.dailymail > a {
    text-decoration: none;
}

.dailymail > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.dailymail > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.dailymail > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.dailymail > p > span {
    color: #9aa0a6;
}

/* Realmadrid*/

.realmadrid {
    padding-bottom: 30px;
}

.realmadrid-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.realmadrid-ctn > div > img {
    border-radius: 50%;
}

.realmadrid-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.realmadrid-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.realmadrid-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.realmadrid > a {
    text-decoration: none;
}

.realmadrid > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.realmadrid > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.realmadrid > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

/* Transfermkt*/

.transfermkt {
    padding-bottom: 30px;
}

.transfermkt-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.transfermkt > div > img {
    border-radius: 50%;
}

.transfermkt-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.transfermkt-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.transfermkt-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.transfermkt > a {
    text-decoration: none;
}

.transfermkt > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.transfermkt > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.transfermkt > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

/* Marca */

.marca {
    padding-bottom: 30px;
}

.marca-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.marca-ctn > div > img {
    border-radius: 50%;
}

.marca-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.marca-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.marca-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.marca > a {
    text-decoration: none;
}

.marca > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.marca > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.marca > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.marca > p > span {
    color: #9aa0a6;
}

/* Manchester */

.manchester{
    padding-bottom: 30px;
}

.manchester-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.manchester-ctn > div > img {
    border-radius: 50%;
}

.manchester-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.manchester-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.manchester-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.manchester > a {
    text-decoration: none;
}

.manchester > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.manchester > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.manchester > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.manchester > p > span {
    color: #9aa0a6;
}

/* This is the related search styling section */

.related-search {
    padding-bottom: 10px;
    /* border-bottom: 1px solid #3c4043;
    width: 86%; */
    margin-bottom: 10px;
}

.related-search-heading {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid #3c4043;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 86%;
}

.related-search-heading > h3 {
    font-weight: 400;
    line-height: 28px;
    font-size: 22px;
    color: #e8eaed;
}

.related-search-heading > i {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 18px;
    
}

.Pstrikers {
    font-size: 16px;
    line-height: 1.3;
    color: #bdc1c6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    padding-bottom: 20px;

}

.Pstrikers > i {
    font-size: 14px;
    color: #9aa0a6;
}

.player-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
    /* align-items: center; */
    
}

.player-img {
    /* text-align: center;
    height: 102px;
    width: 102px; */
    /* padding-bottom: 20px; */
  
}

.player-img > div > img {
    border-radius: 10px;
    padding-bottom: 5px;
    cursor: pointer;

}

.player-img > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 14px;
    
}

.player-img > a:hover {
    text-decoration: underline;
    text-decoration-color: #bdc1c6;
}

.morenews-btn-pimages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #303134;
    font-size: 14px;
    font-weight: 400;
    color: #e8eaed;
    margin: 0 auto;
    position: relative;
    /* bottom: 28px; */
    right: 50px;
    cursor: pointer;
    
}

.morenews-btn-pimages:hover {
    background-color:#3c4043;
}

.mbappe-text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    border-top: 1px solid #3c4043;
    /* border-bottom: 1px solid #3c4043; */
    padding-top: 10px;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    cursor: pointer;
    
}

.mbappe-text-icon > i {
    color: #9aa0a6;
    font-size: 14px;
}

.mbappe-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mbappe-text > p {
    font-size: 16px;
    line-height: 1.3;
    color: #bdc1c6;
    
}

.bruno-text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    border-bottom: 1px solid #3c4043;
    padding-top: 10px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    border-top: 1px solid #3c4043;
    cursor: pointer;
    
}

.bruno-text-icon > i {
    color: #9aa0a6;
    font-size: 14px;
}

.bruno-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bruno-text > p {
    font-size: 16px;
    line-height: 1.3;
    color: #bdc1c6;
    
}

.feedback-btn-mb {
    width: 90px;
    height: 30px;
    background-color:#202124;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 33%;
    bottom: 18px;
    margin:0 auto;
    
}

.feedback-btn-mb > a {
    text-decoration: none;
    color: #9aa0a6;
    font-size: 12px;
    text-align: center;
    
}

/* This is the styling for the tag section */

.tag-section {
    padding-bottom: 20px;
}

.tag-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 325px;
    height: 48px;
    background-color: #303134;
    margin-bottom: 8px;
    /* justify-content: space-between; */
    padding: 0px 17px 0px 33px;
    border-radius: 100px;
}

.tag-one > a {
    color: #bdc1c6;
    font-size: 16px;
    text-decoration: none;
} 

.tag-one > a:hover {
    text-decoration: underline;
    text-decoration-color: #bdc1c6;
}

.tag-one > i {
    color:#bdc1c6;
    font-size: 14px;
} 

.tag-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* This is styling for the google section */

.google-section {
    display: flex;
    justify-content: center;
}

.google-section-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google-o {
    padding-top: 12px;
}

.google-gle {
    padding-top: 6px;
    
}

.google-gle > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.google-gle > a > i {
    color: #8ab4f8;
}

/* This is the under Google styling section */

.under-google-section {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.under-google-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
}

.numbering {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.no1 > a {
    text-decoration: none;
    color: #bdc1c6
}

.no2 > a {
    text-decoration: none;
    color: #8ab4f8;
}

.next > a {
    text-decoration: none;
    color: #8ab4f8;
}

/* This is the footer section styling */

.footer-section {
    background-color: #171717;
    
}

.footer {
    /* width: 80%;
    margin-left: 15%; */
    padding-top: 20px;
    border-bottom: 1px solid #3c4043;
    /* margin-bottom: 20px; */
    
}

.foooter-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* padding-bottom: 20px; */
    /* margin-bottom: 15px; */
    /* width: 100%; */
    margin-left: 13%;
   
    
}

.foooter-ctn > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 30px;
}

.foooter-ctn > div > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #bdc1c6;
    font-size: 14px;
}

.foooter-ctn > div > a > i {
    padding-right: 5px;
    font-size: 10px;
}

.foooter-ctn > div > a > p > span {
    color: #8ab4f8;
}

.foooter-ctn > div > span {
    color: #8ab4f8;
    font-size: 14px;
    cursor: pointer;
}

.foooter-ctn > p {
    font-size: 15px;
    color: #9aa0a6;
    border-right: 1px solid #3c4043;
    padding-right: 20px;
    height: 30px;
    padding-top: 5px;
}

/* This is the footer links styling section */

.footer-links {
    margin-left: 13%;
    width: 80%;
}

.foooter-links-ctn > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 10px 0px 20px 0px;
}

.foooter-links-ctn > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #999da2;
    line-height: 22px;
}

.foooter-links-ctn > ul > li > a:hover{
    color: #bdc1c6;
}

/* This is the styling for section B */

.section-B {
    padding: 0px 0px 20px 20px;
    border-left: 1px solid #3c4043;
    width: 40%;
    height: 60%
    
    
}

.section-B-ctn {
    width: 62%;
    padding-left: 5px;
    /* border: 1px solid red; */
}

.part-1 {
    border-bottom: 1px solid #3c4043;
    padding-bottom: 10px;
}

.section-b-heading > p {
    font-size: 18px;
    line-height: 24px;
    color: #e8eaed;
}

.cr7-world {
    width: 175px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #3c4043;
    padding: 3px 12px;
    border-radius: 16px;
    margin: 10px 0px 10px 0px;
} 

.cr7-world:hover{
    background-color:#3c4043;
}

.cr7-world > i {
    font-size: 14px;
    color: #4487f6;
}

.cr7-world > a {
    text-decoration: none;
    font-size: 14px;
    color: #bdc1c6;
    
}

.cr7-world > a:hover {
     text-decoration: underline;
     text-decoration-color: #bdc1c6;
}

.About-txt > p {
    font-size: 14px;
    color: #bdc1c6;
    line-height: 1.58;
    padding-bottom: 10px;
}

.About-txt > p > span > a {
    text-decoration: none;
    color: #8ab4f8;
}

.About-txt > p > span > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.safety-feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.safety-feedback > p {
    color: #9aa0a6;
    font-size: 12px;
    cursor: pointer;
    padding-top: 13px;
}

.shield-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 7px 16px 7px 16px;
    border: 1px solid #3c4043;
    border-radius: 18px;
}

.shield-text > div > img {
    /* width: 90%; */
}

.shield-text > a {
    text-decoration: none;
    font-size: 14px;
    color: #bdc1c6;
    
}

/* This is the part 2 styling section  */

.part-2 {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #3c4043;
    margin-bottom: 20px;
}

.social-links > p {
    font-size: 18px;
    color: #e8eaed;
}

.social-img {
    width: 72px;
    height: 59px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.social-img > a {
    padding-top: 10px;
    text-decoration: none;
    color: #bdc1c6;
    font-size: 14px;
}

.social-img > a:hover {
    text-decoration: underline;
    text-decoration-color: #bdc1c6;
}

.social-img-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* This is the part 3 styling section */

.stats-area-heading {
    padding-bottom: 20px;
}

.stats-area-heading > a {
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   text-decoration: none;
   color: #e8eaed;
   align-items: center;
   
}


.stats-area-heading > a > h5 {
    font-size: 18px;
    font-weight: normal;
}

.stats-area-heading > a > h5:hover{
    text-decoration: underline;
}

.stats-area-heading > a > div {
    width: 30px;
    height: 30px;
    /* border-radius: 50%;
    border: 1px solid #3c4043; */
}

.stats-area-heading > a > div > i {
    border: 1px solid #3c4043;
    padding: 8px 10px;
    border-radius: 50%;
    color: #9aa0a6;
    font-size: 14px;
}

.stats-table > a {
    text-decoration: none;
    font-size: 14px;
    color: #bdc1c6;
}

.stats-table > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

table {
    padding-top: 10px;
}

th {
    color: #9aa0a6;
    font-size: 12px;
    text-align: left;
    padding-right: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid #3c4043;
    
}

td {
    color: #bdc1c6;
    font-size: 14px;
    text-align: left;
    padding-right: 40px;
    border-bottom: 1px solid #3c4043;
    padding-top: 12px;
    padding-bottom: 12px;
}

td > a {
    text-decoration: none;
    text-align: left;
    color: #bdc1c6;
}

td > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

td > a > span {
    font-size: 12px;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
    
}


.bottom-table {
    padding-bottom: 30px;
}

/* This is the part 4 styling section */

.part-4 {
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.final-area > p {
    color: #e8eaed;
    font-size: 18px;
}

.final-area-img {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}

.final-area-img-ctn {
    padding-bottom: 25px;
}

.final-area-img-ctn > span > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 14px;
    line-height: 19px;
      
   
}

.final-area-img-ctn > span > a:hover {
    text-decoration: underline;
    text-decoration-color: #bdc1c6;
}

.final-area-img-ctn > span {
    padding-left: 8px;
    display: block;
    padding-top: 10px;
}

.final-area-img-ctn > div > img {
    border-radius: 10px;
}

.final-area-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 336px;
    height: 36px;
    border-radius: 18px;
    background-color: #303134;
    font-size: 14px;
    font-weight: 400;
    color: #e8eaed;
    margin: 0 auto;
    /* position: relative; */
    /* bottom: 28px; */
    right: 50px;
    cursor: pointer;
    
    
    
}

.final-area-btn:hover {
    background-color:#3c4043;
}

.final-area-btn > i {
    color: #9aa0a6;
}