* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: arial,sans-serif;
    background-color: #202124;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* width: 95%; */
    /* margin: 0 auto; */
    margin-top: 20px;
    /* color: #e8eaed; */
}

/* This is the nav styling */

.Navbar {
    width: 95%;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-content > img {
    width: 92px;
    height: 30px;
}

.nav-content > div > input[type=text]{
    width: 537px;
    height: 25px;
    background-color: #303134;
    border: 1px solid transparent
       
    
}

.nav-content > div > input[type=text]:focus {
    outline: none;
}

.input-icons {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
    border: 1px solid #202124;
    background-color: #303134;
    width: 650px;
    padding: 22px 25px 22px 25px;
    border-radius: 24px;
    margin-left: -320px;
    height: 25px;
    
    
}

.input-icons > i {
    margin-left: 5px;
    color: #868b91;
    font-size: 22px;
}

.image-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 5px;
    border-left: 1px solid #5f6368;
    padding-left: 10px;
}

.image-icons > i {
    color: #8ab4f8;
    font-size: 18px;
}

.right-nav > i {
    margin-right: 20px;
    color: #e2e2e3;
    font-size: 20px;
}

/* This is the second nav styling section */

.second-container {
    width: 80%;
    margin-left: 15%;
    /* padding-top: 25px; */
    margin-top: 25px;
    /* border: 1px solid white; */
}

.second-nav {
    color: #8f949a;
}

.second-nav-contents {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 14px;
}

.icon-text {
    display: flex;
    flex-direction: row;
}

.icon-text > p {
    padding-left: 5px;
}

.main-container > hr {
    border: #3c4043 solid 1px; 
    margin-top: 10px;
    
}

.tools-text {
    padding-left: 120px
}

.image-txt {
    border-bottom: solid 3px #8ab4f8;
    padding-bottom: 15px ;
}

.about-txt {
    padding: 15px 0 20px 0;
    font-size: 14px;
}

/* This is the styling for the third nav */

.third-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.third-nav > div > h1 {
    font-size: 28px;
    color: #e8eaed;
    padding-bottom: 10px;
}

.third-nav > div > button {
    padding: 12px 20px;
    background-color: #46474c;
    border: 1px solid #202124;
    border-radius: 20px;
    cursor: pointer;
}

.third-nav > div > button:hover {
    background-color: grey;
}

.third-nav > div > button > a {
    text-decoration: none;
    color: #e8eaed;
}

.baller-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.third-nav .overview-btn {
    /* padding: 11px 19px; */
    border: 1px solid white;
}

/* This is the styling for the main section */

.main-section {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    margin-left: 15%;
    /* align-items: center; */
    padding-top: 30px;
    /* justify-content: space-around; */
}
/* This is the styling for section A */

.section-A {
    width: 60%;
}

.section-A > h3 {
    color: #bdc1c6;
    font-size: 18px;
    padding-bottom: 2px;
}

.section-A > h3 > a {
   color: #8ab4f8;
   text-decoration: none; 
}

.section-A > p> a {
    color: #8ab4f8;
    text-decoration: none; 
 }

.section-A > p {
    color: #bdc1c6;
}

.image-slide {
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.image-slide .img-1 {
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
}

.image-slide .img-5 {
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
}

.stories-txt > h4 {
    font-size: 22px;
    color: #e8eaed;
    font-weight: normal;
    margin-bottom: 10px;
}

.news-txt-icon > a {
   display: flex; 
   flex-direction: row;
   align-items: center;
   font-size: 18px;
   gap: 10px;
   text-decoration: none;
   color: #e8eaed;
   font-weight: 400;
}

.news-txt-icon > a > i {
    font-size: 14px;
}

/* This is the top stories styling section */

.top-stories {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 12px;
    padding-top: 10px;
    gap: 10px;
    border-top: 1px solid #3c4043;
    width: 86%;
    
    
}

.top-stories-skyv {
    border-left: 1px solid #3c4043;
    padding-left: 10px;
}

.logo-text-a .goal-logo {
    padding: 10px 0px 10px 0px;
}

.top-stories-goal > img {
    border-radius: 10px;
    
}

.goal-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo-text-a .goal-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.logo-text-a > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.logo-text-a > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
}

.top-stories-skysports {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 18px;
    border-bottom: 1px solid #3c4043;
}

.top-stories-skysports-ctn .skysports-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-skysports-ctn .skysports-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-skysports-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-skysports-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding: 10px 0px 10px 0px;
}

.top-stories-skysports > div > img {
    border-radius: 10px;
    
}

.top-stories-vanguard {
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding-top: 10px;
}

.top-stories-vanguard-ctn .vanguard-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-vanguard-ctn .vanguard-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-vanguard-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-vanguard-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 40px;
}

.top-stories-vanguard > div > img {
    border-radius: 10px;
    
}

.section-A > p {
    color: #bdc1c6;
    font-size: 15px;
    /* font-weight: 400; */
    margin: 5px 0px 10px 0px;
    
}

.section-A > h5 {
    color: #bdc1c6;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px 10px 0px;
}

/* This is the top stories 2 section */

.top-stories-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 1px solid #3c4043;
    width: 86%;
    /* margin-top: 12px; */
    padding-top: 10px;
}

.top-stories-mirror {
    display: flex;
    flex-direction: row;
    gap: 13px;
    
}

.top-stories-mirror-ctn .mirror-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-mirror-ctn .mirror-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-mirror-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-mirror-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-mirror > div > img {
    border-radius: 10px;
    
}

.top-stories-DP {
    display: flex;
    flex-direction: row;
    gap: 25px;
    border-left: 1px solid #3c4043;
    padding-left: 10px;
    
}

.top-stories-DP-ctn .DP-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-DP-ctn .DP-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-DP-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-DP-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-DP > div > img {
    border-radius: 10px;
    
}

/* This is the top stories 3 section */

.top-stories-3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 1px solid #3c4043;
    border-bottom: 1px solid #3c4043;
    width: 86%;
    /* margin-top: 12px; */
    padding-top: 10px;
    padding-bottom: 30px;
}

.top-stories-DE {
    display: flex;
    flex-direction: row;
    gap: 21px;
    
}

.top-stories-DE-ctn .DE-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-DE-ctn .DE-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-DE-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-DE-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-DE > div > img {
    border-radius: 10px;
    
}

.top-stories-Marca {
    display: flex;
    flex-direction: row;
    gap: 38px;
    border-left: 1px solid #3c4043;
    padding-left: 10px;
    
}

.top-stories-Marca-ctn .Marca-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.top-stories-Marca-ctn .Marca-logo > a {
    text-decoration: none;
    color: #bdc1c6;
    font-size: 12px;
}

.top-stories-Marca-ctn > a {
    text-decoration: none;
    color: #8ab4f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.top-stories-Marca-ctn > p {
    font-size: 14px;
    color: #9aa0a6;
    line-height: 16px;
    padding-top: 10px;
}

.top-stories-Marca > div > img {
    border-radius: 10px;
    
}

.morenews-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #303134;
    font-size: 14px;
    font-weight: 400;
    color: #e8eaed;
    margin: 0 auto;
    position: relative;
    bottom: 17px;
    right: 40px;
    cursor: pointer;
}

/* This is the styling for the Wikipedia section */

.wikipedia {
    padding-bottom: 30px;
}

.wikipedia-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.wikipedia-ctn > div > img {
    border-radius: 50%;
}

.wiki-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.wiki-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.wiki-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.wikipedia > a {
    text-decoration: none;
}

.wikipedia > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.wikipedia > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.wikipedia > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.early-club {
    color: #8ab4f8;
}

.early-club > a {
    color: #8ab4f8;
    text-decoration: none;
    font-size: 14px;
}

.early-club > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

/* This is the accordion styling section */

.accordion > h3 {
    color: #e8eaed;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #3c4043;
    width: 86%;
}

.text-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3c4043;
}

.text-arrow > p {
    font-size: 16px;
    color: #bdc1c6;
    cursor: pointer;
    /* font-weight: normal; */
}

.text-arrow > i {
    color: #bdc1c6;
    cursor: pointer;
    font-size: 14px;
}

.text-arrow-down {
    padding-bottom: 20px;
}

.feedback-btn {
    width: 90px;
    height: 30px;
    background-color:#202124;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 33%;
    bottom: 20px;
    margin:0 auto;
    
}

.feedback-btn > a {
    text-decoration: none;
    color: #9aa0a6;
    font-size: 12px;
    text-align: center;
    
}

/* This is the styling for the CR7 section */

.cr7 {
    padding-bottom: 30px;
}

.cr7-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.cr7-ctn > div > img {
    border-radius: 50%;
}

.cr7-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.cr7-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.cr7-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.cr7 > a {
    text-decoration: none;
}

.cr7 > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.cr7 > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.cr7 > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

/* This is the styling for the mirror section */

.mirror-section {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mirror-sec-ctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.mirror-sec-ctn > div > img {
    border-radius: 50%;
}

.mirror-sec-links > p {
    color: #dadce0;
    font-size: 14px;
    line-height: 20px;
}

.mirror-sec-links > div > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
}

.mirror-sec-links > div > i {
    font-size: 12px;
    line-height: 18px;
    color: #bdc1c6;
    padding-left: 10px;
}

.mirror-sec > a {
    text-decoration: none;
}

.mirror-sec > a:hover {
    text-decoration: underline;
    text-decoration-color: #8ab4f8;
}

.mirror-sec > a > h3 {
    color: #8ab4f8;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    
}

.mirror-sec > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 1.58;
}

.net-boots {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 185px;
    padding-top: 8px;
}

.net-boots > p > span {
    color: #9aa0a6;
    font-size: 14px;
    line-height: 22px;
}

.net-boots > p {
    color: #bdc1c6;
    font-size: 14px;
    line-height: 22px;
}